<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <%- include('./partials/head') %>

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">


</head>
<body class="pag">
<div class="page">
    <div class="topbar">
    </div>
    <div class="userbar">
        <div class="left">
            <form id="index" method="get" action="http://localhost:3000/"><button><i class="material-icons">home</i></button></form>
            <div class="groupname"><span id="chats"></span></div>
            <div class="profpic" id="imagem"></div>
            <div class="name"><span id="username"></span></div>
            <form id="editar" method="get" action="/editar"><button><i class="material-icons">mode</i></button></form>
        </div>
        <div class="right">
            <form id="aceder" method="get" action="/aceder"><button value="aceder" type="submit" ><i class="material-icons">groups</i></button></form>
            <form id="sairChat" method="post" action="/sairChat"><button id="buttonSairChat" name="chat" type="submit" ><i class="material-icons">groups</i></button><input id="usernames" name="username" hidden></form>
            <form id="logout" method="post" action="/logout"><button value="Log out" type="submit"><i class="material-icons">logout</i></button></form>

        </div>
    </div>

    <div class="chat-container" id="chatbox">
        <div class="chat" id="messages">

            <script>

                function scrollDown() {
                    document.getElementById('chatbox').scrollTop =  document.getElementById('chatbox').scrollHeight
                }
                function intToRGB(i) {
                    var c = (i & 0x00FFFFFF)
                        .toString(16)
                        .toUpperCase();

                    return "00000".substring(0, 6 - c.length) + c;
                }

                function hashCode(str) { // java String#hashCode
                    var hash = 0;
                    for (var i = 0; i < str.length; i++) {
                        hash = str.charCodeAt(i) + ((hash << 5) - hash);
                    }
                    var result = intToRGB(hash);
                    console.log(result);
                    return result;
                }
                $(document).ready(function () {

                    var socket = io();


                    //We don't need to pass the name, it will be obtained from the session
                    socket.emit("join");
                    socket.emit("mensagens guardadas",decodestr());

                    $('#message').submit(function () {
                        socket.emit('chat message', $('#m').val(),decodestr());
                        console.log($('#m').val());
                        $('#m').val('');
                        return false;
                    });
                    socket.on('chat message', function (msg) {
                        $('#messages').append('<div class="message sent">' +  ' ' + (msg.id + ": " + msg.msg) + '<form><button id="msgid"><i class="material-icons">delete</i></button></form></div>');
                        document.getElementById("msgid").setAttribute("value",msg.msgId);
                        document.getElementById("msgid").setAttribute("id",msg.msgId);
                        document.getElementById(msg.msgId).addEventListener("click",deletemsg);
                        scrollDown()
                    });

                    socket.on('update',function(msg){
                        $('#messages').append('<div class="message received">' + (msg) + '</div>');
                        scrollDown()
                    });

                    socket.on('send',(result)=>{
                        document.getElementsByClassName("message sent").remove();
                        document.getElementsByClassName("message received").remove();
                        for(let i =0; i<result.length; i++){
                            if (result[i].username === usernameSpan.innerText) {
                                var y=document.createElement('div');
                                y.setAttribute('class','message sent');
                                y.setAttribute('id',"m"+result[i].id);
                                y.innerText = result[i].username + ": " + result[i].conteudo;
                                var f=document.createElement('form');
                                f.setAttribute('id',"f"+result[i].id);
                                var b=document.createElement('button');
                                b.setAttribute('value',result[i].id);
                                b.setAttribute('id',result[i].id);
                                var ix=document.createElement('i');
                                ix.setAttribute('class',"material-icons");
                                ix.innerHTML='delete';
                                document.getElementById('messages').appendChild(y);
                                document.getElementById("m"+result[i].id).appendChild(f);
                                document.getElementById("f"+result[i].id).appendChild(b);
                                document.getElementById(result[i].id).appendChild(ix);
                                document.getElementById(result[i].id).addEventListener("click",deletemsg);

                            }else{
                                var y=document.createElement('div');
                                y.setAttribute('class','message received');
                                y.innerText = result[i].username + ": " + result[i].conteudo;
                                document.getElementById('messages').appendChild(y);
                            }
                        }
                        scrollDown();
                    })

                });

            </script>

        </div>
        <form id="message" class="message-drawer">
            <div class="emoji">
                <i class="material-icons">mood</i>
            </div>
            <input class="input-msg" name="form" placeholder="Send a message" autocomplete="off" autofocus id="m"></input>

            <div class="photo">
                <i class="material-icons">image</i>
            </div>

            <button class="send">
                <div class="circle">
                    <i class="material-icons">send</i>
                </div>
            </button>
        </form>
    </div>

</div>
</body>
<script>
    const socket = io();
    const usernameSpan = document.getElementById("username");
    const chatsSpan =document.getElementById("chats").innerText=decodestr();
    document.getElementById("buttonSairChat").setAttribute("value",decodestr());

    function decodestr() {
        var uri = window.location.href;
        var uri_dec = decodeURIComponent(uri);
        var uri_split= uri_dec.split("x=");
        return uri_split[1];
    }

    Element.prototype.remove = function() {
        this.parentElement.removeChild(this);
    }
    NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
        for(var i = this.length - 1; i >= 0; i--) {
            if(this[i] && this[i].parentElement) {
                this[i].parentElement.removeChild(this[i]);
            }
        }
    }



    socket.on('connect', () => {

        socket.emit('whoami', (username) => {
            usernameSpan.innerText = username;
            document.getElementById("usernames").setAttribute("value",username);
        });
        socket.emit('looklike', (imagem) => {
            var img=document.createElement('img');
            img.setAttribute('src','/uploads/'+imagem[0].imagem);
            document.getElementById('imagem').appendChild(img);
        });
    });
    function deletemsg(e){
        socket.emit('deleted messages', this.id);
    }
</script>
</html>
