<!doctype html>
<html>
<head>
    <title>Socket.IO chat</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="server.js"></script>
    <%- include('./partials/head') %>

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
          rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp"
          rel="stylesheet">


    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone"
          rel="stylesheet">


</head>
<body class="pag">
<div class="page">
    <div class="topbar">
    </div>
    <div class="userbar">
        <div class="left">
            <button><i class="material-icons">menu</i></button>
            <div class="groupname"><span id="chats"></span></div>
            <div class="profpic"><img src="http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg"> </div>
            <div class="name"><span id="username"></span></div>
            <button><i class="material-icons">mode</i></button>
        </div>
        <div class="right">
           <!--<button><i class="material-icons">groups</i></button>-->
            <form id="aceder" method="get" action="/aceder"><button value="aceder" type="submit" ><i class="material-icons">groups</i></button></form>
            <form id="logout" method="post" action="/logout"><button value="Log out" type="submit"><i class="material-icons">logout</i></button></form>

        </div>
    </div>

    <div class="chat-container" id="chatbox">
        <div class="chat" id="messages">

            <script>

                function scrollDown() {
                    document.getElementById('chatbox').scrollTop =  document.getElementById('chatbox').scrollHeight
                }
                function intToRGB(i) {
                    var c = (i & 0x00FFFFFF)
                        .toString(16)
                        .toUpperCase();

                    return "00000".substring(0, 6 - c.length) + c;
                }

                function hashCode(str) { // java String#hashCode
                    var hash = 0;
                    for (var i = 0; i < str.length; i++) {
                        hash = str.charCodeAt(i) + ((hash << 5) - hash);
                    }
                    var result = intToRGB(hash);
                    console.log(result);
                    return result;
                }
                $(document).ready(function () {

                    var socket = io();


                    //We don't need to pass the name, it will be obtained from the session
                    socket.emit("join");

                    $('#message').submit(function () {
                        socket.emit('chat message', $('#m').val());
                        console.log($('#m').val());
                        $('#m').val('');
                        return false;
                    });
                    socket.on('chat message', function (msg) {
                        $('#messages').append('<div class="message sent">' +  ' ' + (msg.id + ":" + msg.msg) + '</div>');
                        scrollDown()
                    });

                    socket.on('update',function(msg){
                        $('#messages').append('<div class="message received">' + (msg) + '</div>');
                        scrollDown()
                    });
                });

            </script>

        </div>
        <form id="message" class="message-drawer">
            <div class="emoji">
                <i class="material-icons">mood</i>
            </div>
            <input class="input-msg" name="form" placeholder="Send a message" autocomplete="off" autofocus id="m"></input>

            <div class="photo">
                <i class="material-icons">image</i>
            </div>

            <button class="send">
                <div class="circle">
                    <i class="material-icons">send</i>
                </div>
            </button>
        </form>
    </div>

</div>
</body>
<script>
    const socket = io();
    const usernameSpan = document.getElementById("username");
    const chatsSpan =document.getElementById("chats").innerText=susbstrin();

    function susbstrin(){
        var string=window.location.href;
        var subsstrin=string.split('x=');
        return subsstrin[1];
    }



    socket.on('connect', () => {

        socket.emit('whoami', (username) => {
            usernameSpan.innerText = username;

        });
    });
</script>

</html>

