<!DOCTYPE html>
<html>
<head>
    <title>Ver Conversas</title>
</head>
<body>
<%- include(process.cwd() + '/views/partials/socketInicialization') %>
<h1>Escolha uma conversa</h1>
<script>
    var x;
    var times=0;
    window.addEventListener('load', function () {
        socket.emit('carregarConversas',window.location.href);
    });

    function sendChat (id){
        x = id;
        if (times!==0){
            var y = document.getElementById("mensagens");
            y.remove();
        }
        times=1;
        createDiv();
        socket.emit('carregarConversa',[window.location.href,id]);
        console.log(id);
    }

    function linkMensagem (id){
        var newURL = "" + id;
        location.replace(newURL);
    }

    function adicionarConversa (mensagem){
        socket.emit('adicionarMensagem',[window.location.href,mensagem,x]);
    }
</script>
<div id="board">
    <script>
        socket.on('aCarregar',(args)=>{
            for(var i=0; i<args.length;i++) {
                var board = document.createElement('button');
                board.className = "blah";
                board.innerHTML = args[i];
                board.setAttribute('id',i);
                board.setAttribute('onclick',"sendChat(this.id)");
                document.getElementById('board').appendChild(board);
            }
        });
    </script>
</div>
    <script>
        function createDiv(){
            var newDiv = document.createElement("div");
            newDiv.setAttribute('id',"mensagens");
            document.body.appendChild(newDiv);
        }
        socket.on('mensagensRecebidas',(mensagens)=>{
            for (var i = 0; i<mensagens.length;i++){
                var mens = document.createElement('p');
                mens.className = "texto";
                mens.innerHTML = mensagens[i].data + "->" + mensagens[i].user + ':' + mensagens[i].mensagem;
                mens.setAttribute('id',mensagens[i].id);
                mens.setAttribute('onclick',"linkMensagem(this.id)");
                document.getElementById('mensagens').appendChild(mens);
            }
            var mensa = document.createElement('textarea');
            mensa.className = "texto";
            mensa.placeholder = "Escreva a sua mensagem aqui";
            mensa.setAttribute('id',"titulo");
            document.getElementById('mensagens').appendChild(mensa);
            var botao = document.createElement('button');
            botao.setAttribute('onclick',"var mens = document.getElementById('titulo');adicionarConversa(mens.value);");
            botao.setAttribute('id',"botao");
            botao.innerHTML="Enviar";
            document.getElementById('mensagens').appendChild(botao);
        });
    </script>
</body>
</html>