<!DOCTYPE html>
<html>
  <head>
    <%- include(process.cwd() + '/views/partials/head') %>
    <title>INDEX</title>
  </head>
  <body>
  <div class="fix">
    <h1>Projeto de DBW</h1>
    <p>Bem vindo ao nosso site</p>
    <a class="send" href="/registo">Registar</a> <br><br>
    <a class="send" href="/login">Login</a>
  </div>
  </body>
</html>