<!doctype html>
<html lang="en">
<%- include('./partials/head') %>
<head>
    <meta charset="UTF-8">
    <title>Passport example</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">

</head>
<body class="pag">
<div class="topbar">
    <button><i class="material-icons">cancel</i></button>
</div>
<div class="userbar">
    <div class="left">
        <div class="profpic"><img src="http://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg%22%3E </div>
        <div class="name"><span id="username"></span></div>
        <button><i class="material-icons">mode</i></button>
        <div class="aut"> Authenticated! </div>
    </div>
    <div class="right">
        <button><i class="material-icons">groups</i></button>
        <button><i class="material-icons">notifications</i></button>
        <form method="post" action="/logout"><button value="Log out" type="submit"><i class="material-icons">logout</i></button></form>
    </div>
</div>

</div>
<div class="formcontainer">
    <div class="form2">
        <a class="" href="/criarChat" >Create a chatroom</a><br>
        <a href="/aceder" >Que chat aceder</a><br>
        <a href="/pedidos" >Enter in a chat</a><br>
        <a href="/readmitir" >Reenter in a chat that you quit</a><br>
        <a href="/pedirReadimicao" >Pedir para ser readmitido</a><br>
    </div>
</div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io();
    const usernameSpan = document.getElementById("username");

    socket.on('connect', () => {

        socket.emit('whoami', (username) => {
            usernameSpan.innerText = username;
        });
    });
</script>
</body>
</html>