<!DOCTYPE html>
<html>
  <head>
    <title>INDEX</title>
  </head>
  <body>
    <h1>INDEX</h1>
    <p>Welcome to INDEX</p>
    <a href="/registo">Registar</a> <br><br>
    <a href="/login">Login</a>
  </body>
</html>